<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.js.secondhandauction.core.auction.repository.AuctionRepository">
    <insert id="create" parameterType="com.js.secondhandauction.core.auction.domain.Auction" useGeneratedKeys="true"
            keyProperty="auctionNo" keyColumn="auction_no">
    <![CDATA[
        insert into Auction
            (item_no, bid, reg_id, reg_date)
        values (#{itemNo}, #{bid}, #{regId}, NOW())
        ]]>
    </insert>

    <select id="getLastTick">
    <![CDATA[
        SELECT item_no,
               bid,
               reg_id
        FROM Auction
        WHERE item_no = #{itemNo}
          AND bid = (SELECT MAX(bid) FROM Auction WHERE item_no = #{itemNo})
        ]]>
    </select>

    <select id="getCountTick">
        <![CDATA[
        select count(*)
        from Auction
        where item_no = #{itemNo}
        ]]>
    </select>

    <select id="findByItemNo">
        <![CDATA[
        select auction_no,
               item_no,
               bid,
               reg_id,
               reg_date
        from Auction
        where item_no = #{itemNo}
        ]]>
    </select>
</mapper>