<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.js.secondhandauction.core.user.repository.UserRepository">
    <insert id="create" parameterType="com.js.secondhandauction.core.user.domain.User" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into Users
            (name, amount, reg_date, upt_date)
        values
            (#{name}, #{amount}, NOW(), NOW())
    </insert>

    <select id="get">
        select
            id,
            name,
            amount,
            reg_date,
            upt_date
        from Users
        where
            id = #{id}
    </select>

    <update id="plusAmount">
        update
            Users
        set amount = amount + #{amount}
            ,upt_date = NOW()
        where id = #{id}
    </update>

    <update id="minusAmount">
        update
            Users
        set amount = amount - #{amount}
            ,upt_date = NOW()
        where id = #{id}
    </update>
</mapper>